@page
@model Razorvagt2.Pages.Assignments.DeleteAssignmentModel
@{
}
<form method="post">
	<input type="hidden" asp-for="@Model.Assignment.ID" name="id">
	<div class="form-group">
		<label asp-for="Assignment.ID"></label>
		<h5>@Model.Assignment.ID</h5>
	</div>
	<div class="form-group">
		<label asp-for="Assignment.Date"></label>
		<h5>@Model.Assignment.Date</h5>
	</div>
	<div>
		<label asp-for="Assignment.Length"></label>
		<h5>@Model.Assignment.Length</h5>
	</div>
</form>